@charset "UTF-8";

/*------ 全体 ------*/
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;
}

body {
  height: 100%;
  width: 100%;
  color: #e4e5df;
  background-color: #1a1a1a;
  vertical-align: top;
  font-family: "Roboto Slab", serif;
  font-family: "Noto Serif JP", serif;
}

.container {
  width: 80vw;
  margin: 0 10vw;
}

.company,
.access,
.recruitContact,
footer {
  margin-top: 120px;
}

li {
  list-style: none;
  border-bottom: none;
}

li:visited {
  color: inherit;
}

a {
  text-decoration: none;
  color: #e4e5df;
}

/*------ 全体終わり ------*/

.header {
  width: 80vw;
  background-color: rgb(61, 61, 61);
  position: sticky;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  z-index: 1000;
  padding: 2vh 10vw;
}

.header__inner {
  display: inline-block;
  margin: auto 0;
}

.gnav {
  display: inline-block;
  margin: auto 0;
}

.gnav__item {
  font-size: 1.2rem;
  display: inline-block;
}

.gnav__item a {
  padding: 0.2vh 1vw;
}

.gnav__item span {
  font-size: 1rem;
}

aside {
  display: none;
}

.search {
  background: -moz-linear-grad(rgba(47, 2, 5, 0.8), rgba(26, 26, 26, 0.8)),
    url(../img/used_car/used_car_1.jpg);

  background: -webkit-linear-gradient(
      rgba(47, 2, 5, 0.8),
      rgba(26, 26, 26, 0.8)
    ),
    url(../img/used_car/used_car_1.jpg);

  background: -ms-linear-gradient(rgba(47, 2, 5, 0.8), rgba(26, 26, 26, 0.8)),
    url(../img/used_car/used_car_1.jpg);

  background: radial-gradient(rgba(47, 2, 5, 0.1), rgba(26, 26, 26, 1)),
    url(../img/used_car/used_car_1.jpg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.searchMaker {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.searchMaker__title {
  text-align: center;
  font-size: 2rem;
  margin: 1em 0;
}

.searchMaker__list {
  background-color: rgba(26, 26, 26, 0.5);
  width: 70vw;
  margin: 0 10vw;
  padding: 5vh 5vw;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.searchMaker__link {
  border: solid thin #e4e5df;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.searchMaker__item {
  font-size: 1.3em;
}

.searchMaker__item:first-of-type {
  font-size: 1.7rem;
}

.searchMaker__link img {
  width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  border-bottom: solid thin #e4e5df;
}

.searchMaker__txt {
  margin: auto 0;
}

.benz_2,
.vw_2,
.lr_2 {
  display: none;
}

.searchDetails {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 0;
}

.searchDetails__price {
  grid-column: 1/3;
  grid-row: 1/2;
}

.searchDetails__mileage {
  grid-column: 1/2;
  grid-row: 2/3;
}

.searchDetails__years {
  grid-column: 2/3;
  grid-row: 2/3;
}

.searchDetails__flex {
  display: flex;
  flex-direction: column;
}

.searchDetails__title {
  text-align: center;
  font-size: 2rem;
  margin: 0.5rem 0;
}

.price select {
  width: 10vw;
}

.price {
  text-align: center;
}

.mileage,
.years {
  font-size: 1.2rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  gap: 1rem;
}

.mileage__radio input,
.years__radio input {
  transform: scale(1.5);
}

/*------ container ------*/
.company {
  background-image: url(../img/company/company_1.jpg);
  background-size: 40% auto;
  background-position: right center;
  background-repeat: no-repeat;
}

.company__inner {
  width: 80vw;
}

.company__heading {
  font-size: 3rem;
}

.company__main {
  width: 80vw;
  display: flex;
  flex-direction: column;
}

.company__slogan {
  display: inline-block;
  font-size: 4rem;
}

.company__slogan span {
  font-size: 2.6rem;
}

.company__top {
  display: inline-block;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin: 3% 0;
}

.company__link a {
  display: inline-block;
  font-size: 1.3rem;
  padding: 0 1vw 0 0;
  margin-top: 3rem;
}

@media screen and (min-width: 1024px) {
  .company__link a:hover span {
    display: inline-block;
    font-size: 1.8rem;
    transition: 0.2s;
  }
}

.access {
}

.access__inner {
}

.access__heading {
  font-size: 3rem;
}

.access__main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 360px 360px;
  gap: 1rem;
  padding: 0 10vw;
}

.tokyo {
  height: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
}

.tokyo__headingBox {
  height: 20%;
  border: solid thin #e4e5df;
  text-align: center;
}

.tokyo__heading {
  margin: auto 0;
  font-size: 2rem;
}

.tokyo__img {
  height: 78%;
  margin: 2% 0 0 0;
}

.tokyo__img img {
  height: 100%;
}

.tokyo__iframe {
  grid-column: 2/3;
  grid-row: 1/2;
}

.tokyo__iframe iframe {
  width: 100%;
  height: 100%;
}

.okayama {
  height: 100%;
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
}

.okayama__headingBox {
  height: 20%;
  border: solid thin #e4e5df;
  text-align: center;
}

.okayama__heading {
  font-size: 2rem;
}

.okayama__img {
  height: 78%;
  margin: 2% 0 0 0;
}

.okayama__img img {
  height: 100%;
}

.okayama__iframe {
  grid-column: 1/2;
  grid-row: 2/3;
}

.okayama__iframe iframe {
  width: 100%;
  height: 100%;
}

.recruitContact {
}

.recruitContact__inner {
}

.recruitContact__heading {
  font-size: 3rem;
}

.recruitContact__heading span {
  font-size: 2rem;
}

.recruitContact__main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.recruitContact__box img {
  width: 30vw;
  height: 45vh;
  opacity: 0.6;
}

.recruitContact__box img:hover {
  width: 32vw;
  height: 47vh;
  transition: 0.2s;
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .recruitContact__box img {
    pointer-events: none;
  }
}

.recruit__title,
.contact__title {
  font-size: 1.5rem;
}

/* ------ container 終了 ------ */

/* ------ footer領域 ------ */
.footer {
  height: 240px;
  width: 100vw;
  background-color: rgb(61, 61, 61);
}

.footer__inner {
  height: 90%;
  padding: 0 10vw;
  display: flex;
  justify-content: space-between;
}

.footer__sns {
  margin: auto 0;
}

.breadcrumb {
  margin: auto 0;
}

.breadcrumb__list {
  display: flex;
}

.breadcrumb__item {
  font-size: 1.2rem;
  color: #e4e5df;
  border-left: solid thin #e4e5df;
}

.breadcrumb__item:first-of-type {
  border-left: none;
}

.breadcrumb__item--2 {
  display: none;
}

.breadcrumb__item a {
  padding: 0 1rem 0 1rem;
}

.breadcrumb__item span {
  font-size: 1rem;
}

.footer__sns a:nth-child(3) img {
  background-color: #e4e5df;
  border-radius: 50%;
}

small {
  display: block;
  text-align: right;
}
/* ------ footer領域終了 ------ */

/* --------------------------- レスポンシブ -----------------------------*/
/* タブレット ipad 横 */
@media screen and (max-width: 1024px) {
  .header {
    display: none;
  }

  aside {
    width: 100%;
    height: 12vh;
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #3d3d3d;
    z-index: 500;
  }

  .bottomNav__list {
    display: flex;
    text-align: center;
  }

  .bottomNav__list a {
    flex: 1;
    font-size: 1.2rem;
    padding: 1vh 0;
  }

  .bottomNav__item {
    display: flex;
    flex-direction: column;
  }

  .bottomNav__list a:nth-of-type(2) .bottomNav__item {
    border-left: solid thin #e4e5df;
    border-right: solid thin #e4e5df;
  }

  .bottomNav__item img {
    margin: 0 auto 0.5vh auto;
  }

  .search {
    width: 100vw;
    margin-top: 0;
  }

  .searchMaker__list {
    width: 88vw;
    margin: 0 3vw;
    padding: 2vh 3vw;
  }

  .searchMaker__link img {
    width: 100%;
    object-fit: cover;
    border-bottom: solid thin #e4e5df;
  }

  .searchMaker__link p {
    font-size: 1.2rem;
    margin: auto 0;
  }

  .searchDetails {
    grid-template-rows: 0.5fr 0.5fr;
  }

  .searchDetails__title {
    font-size: x-large;
  }

  .price select {
    width: 15vw;
    height: 4vh;
  }

  .company {
  }

  .company__inner {
    width: 80vw;
    top: 8vh;
    background-size: 40% 100%;
  }

  .company__main {
    top: 8vh;
  }

  .company__slogan {
    font-size: 2.5rem;
  }

  .company__slogan span {
    font-size: 2rem;
  }

  .company__link a {
    margin-top: 1vh;
    font-size: 1.2rem;
  }

  .access {
  }

  .access__inner {
  }

  .access__main {
    grid-template-rows: 260px 260px;
  }

  .recruitContact {
  }

  .recruitContact__inner {
  }

  .recruitContact__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
  }

  .recruitContact__box img {
    width: 100%;
    height: 40vh;
    opacity: 1;
  }

  .footer {
    margin-bottom: 12vh;
  }
}

/* タブレット ipad Pro 縦 */
@media screen and (width: 1024px) and (height: 1366px) {
  aside {
    height: 10vh;
  }

  .bottomNav__list a {
    flex: 1;
    font-size: 1.8rem;
  }

  .bottomNav__item img {
    width: 60px;
    height: 60px;
  }

  .search {
  }

  .searchMaker__title {
    font-size: 2.5rem;
  }

  .searchDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .searchDetails__title {
    font-size: 2.5rem;
    margin-top: 3vh;
  }

  .price select {
    width: 20vw;
    height: 4vh;
    font-size: 1.2rem;
  }

  .mileage,
  .years {
    font-size: 1.8rem;
  }

  .mileage__radio input,
  .years__radio input {
    transform: scale(2);
  }

  .company {
  }

  .company__heading {
    font-size: 4rem;
  }

  .company__slogan {
    font-size: 3.5rem;
  }

  .company__top {
    margin-top: 5vh;
    font-size: 2.5rem;
    line-height: 4rem;
  }

  .company__link a {
    font-size: 1.8rem;
  }

  .access__heading {
    font-size: 4rem;
  }

  .access__main {
    grid-template-columns: 400px 400px;
    grid-template-rows: 400px 400px;
    padding: 0;
    margin: 8vh auto 0 auto;
  }

  .recruitContact__heading {
    font-size: 4rem;
  }

  .recruitContact__main {
    display: flex;
    flex-direction: column;
  }

  .recruitContact__box img {
    width: 100%;
    height: 30vh;
    opacity: 1;
  }

  .recruit__title,
  .contact__title {
    font-size: 2rem;
  }
  .footer {
  }

  .footer__inner {
    width: 90vw;
    margin: 0 auto;
    padding: 0 5vw;
  }

  .breadcrumb__item {
    font-size: 1.5rem;
  }

  .footer__sns a img {
    width: 50px;
    height: 50px;
  }
}

/* iphone 8/7/6s/6 横  */
@media screen and (max-width: 823px) {
  aside {
    width: 100%;
    height: 14vh;
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #3d3d3d;
    z-index: 500;
  }

  .bottomNav__list {
    display: flex;
    text-align: center;
  }

  .bottomNav__list a {
    flex: 1;
    font-size: 0.8rem;
    padding: 1vh 0;
  }

  .bottomNav__item {
    display: flex;
    flex-direction: column;
  }

  .bottomNav__list a:nth-of-type(2) .bottomNav__item {
    border-left: solid thin #e4e5df;
    border-right: solid thin #e4e5df;
  }

  .bottomNav__item img {
    width: 25px;
    height: 25px;
    margin: 0 auto 0.5vh auto;
  }

  .search {
  }

  .searchMaker__title {
    display: none;
  }

  .searchMaker__list {
    width: 74vw;
    margin: 5vh 10vw 0 10vw;
    gap: 0.5rem;
  }

  .lr_1 {
    display: none;
  }

  .lr_2 {
    display: block;
  }

  .searchMaker__item:first-of-type {
    font-size: 1rem;
  }

  .searchMaker__link p {
    font-size: 0.8rem;
  }

  .benz_1,
  .vw_1,
  .lr_1 {
    display: none;
  }

  .benz_2,
  .vw_2,
  .lr_2 {
    display: block;
  }

  .searchDetails {
    position: relative;
    top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    gap: 0;
  }

  .searchDetails__title {
    font-size: 1rem;
    margin-top: 0;
  }

  .price select {
    font-size: 0.5rem;
    width: 10vw;
    height: 4.5vh;
  }

  .mileage,
  .years {
    font-size: 0.8rem;
    gap: 0.3rem;
  }

  .mileage input,
  .years input {
    transform: scale(1.2);
  }

  .company {
  }

  .company__inner {
    top: 8%;
  }

  .company__heading {
    font-size: 1.5rem;
  }

  .company__main {
    top: 18vh;
  }

  .company__slogan {
    font-size: 2rem;
  }

  .company__slogan span {
    font-size: 1.3rem;
  }

  .company__top {
    display: none;
  }

  .company__link a {
    margin-top: 10vh;
    font-size: 0.8rem;
  }

  .access {
  }

  .access__heading {
    font-size: 1.5rem;
  }

  .access__main {
    width: 60vw;
    grid-template-rows: 120px 120px;
    gap: 0.5rem;
  }

  .tokyo__heading,
  .okayama__heading {
    font-size: 0.7rem;
  }

  .recruitContact__heading {
    font-size: 1.5rem;
  }

  .recruitContact__heading span {
    font-size: 1rem;
  }

  .recruit__title,
  .contact__title {
    font-size: 1rem;
  }

  .recruitContact__main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .recruit,
  .contact {
    width: auto;
  }

  .recruitContact__box img {
    width: 35vw;
    height: 35vh;
  }

  .footer {
    width: 100vw;
    margin-bottom: 12vh;
    position: relative;
    background-color: rgb(61, 61, 61);
  }

  .breadcrumb__item {
    font-size: 0.8rem;
  }

  .breadcrumb__item span {
    font-size: 0.5rem;
  }

  .footer__sns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.4rem;
  }

  .footer__sns a:first-of-type {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .footer__sns a:nth-of-type(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .footer__sns a:nth-of-type(3) {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .footer__sns a:nth-of-type(4) {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .footer__sns a img {
    width: 25px;
    height: 25px;
  }

  small {
    font-size: 0.5rem;
    bottom: 5%;
  }
}

/*タブレット ipad 縦 */
@media screen and (width: 768px) {
  aside {
    height: 10vh;
  }

  .bottomNav__list a {
    font-size: 1.2rem;
  }

  .bottomNav__item img {
    width: 45px;
    height: 45px;
  }

  .search {
  }
  .searchDetails__title {
    font-size: x-large;
    margin: 1rem 0;
  }

  .searchMaker__link p {
    font-size: 1.2rem;
  }

  .benz_1,
  .vw_1,
  .lr_1 {
    display: none;
  }

  .benz_2,
  .vw_2,
  .lr_2 {
    display: block;
  }

  .searchDetails {
    display: flex;
    flex-direction: column;
  }

  .price select {
    font-size: 1rem;
    width: 15vw;
    height: 4.5vh;
  }

  .mileage,
  .years {
    font-size: 1.5rem;
  }

  .company {
  }

  .company__inner {
    background-size: 60% 100%;
  }

  .company__heading {
    font-size: 3rem;
  }

  .company__main {
    top: 7vh;
  }

  .company__slogan {
    font-size: 2.5rem;
  }

  .company__top {
    display: inline;
  }

  .company__link a {
    font-size: 1.3rem;
  }

  .access {
  }

  .access__heading {
    font-size: 3rem;
  }

  .access__main {
    width: 80vw;
    grid-template-rows: 300px 300px;
    grid-template-columns: 300px 300px;
    padding: 0;
  }

  .tokyo__heading,
  .okayama__heading {
    font-size: 1.5rem;
  }

  .recruitContact__heading {
    font-size: 3rem;
  }

  .recruitContact__main {
    flex-direction: column;
  }

  .recruit,
  .contact {
    width: 65vw;
    margin: 0 auto;
  }

  .recruitContact__box img {
    width: 100%;
    height: 28vh;
  }

  .recruit__title,
  .contact__title {
    font-size: 1.5rem;
  }

  .footer {
    margin-bottom: 10vh;
  }

  .breadcrumb__item {
    font-size: 1rem;
  }

  .breadcrumb__item span {
    font-size: 0.8rem;
  }

  .footer__sns a img {
    width: 30px;
    height: 30px;
  }
}

/* iphone 5/SE 横  Galaxy Fold 横 */
@media screen and (max-width: 653px) {
  .searchMaker {
  }

  .searchMaker__title {
    display: block;
    font-size: 1.5rem;
  }

  .searchMaker__list {
    margin: auto 10vw auto 10vw;
  }

  .searchDetails {
    display: none;
  }

  .access__main {
    grid-template-rows: 100px 100px;
  }
}

/* surfaceDuo */
@media screen and (max-width: 540px) {
  aside {
    height: 9vh;
  }

  .search {
  }

  .searchMaker {
  }

  .searchMaker__title {
    font-size: 1rem;
    margin: 0.3em 0;
  }

  .searchMaker__list {
    width: 84vw;
    margin: 0 5vw;
  }

  .searchMaker__link img {
    height: 9vh;
  }
  .benz_1,
  .vw_1 {
    display: none;
  }

  .benz_2,
  .vw_2 {
    display: block;
  }

  .searchDetails {
    display: flex;
    flex-direction: column;
  }

  .searchDetails__flex {
    margin: 2vh 0;
  }

  .price select {
    width: 20vw;
    height: 4vh;
  }

  .mileage,
  .years {
    column-gap: 4vw;
    row-gap: 1.8vh;
  }

  .company {
  }

  .company__inner {
    background-size: 80% 100%;
    background-position: right center;
  }

  .company__main {
    top: 8vh;
  }

  .company__top {
    display: inline-block;
    font-size: 1.2rem;
    line-height: 2.5rem;
    margin-top: 15%;
  }

  .company__link a {
    margin-top: 5vh;
  }

  .access {
  }

  .access__main {
    width: 80vw;
    top: 5vh;
    grid-template-rows: 200px 200px;
    gap: 1rem;
    padding: 0;
    margin: 0;
  }

  .tokyo__heading {
    font-size: 1.2rem;
  }

  .tokyo__iframe iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .okayama__heading {
    font-size: 1.2rem;
  }

  .recruitContact {
  }

  .recruitContact__main {
    display: grid;
    grid-template-columns: 1fr;
  }

  .recruitContact__box img {
    width: 100%;
    height: 27vh;
  }

  .footer {
    margin-bottom: 9vh;
  }

  .footer__inner {
    width: 90vw;
    padding: 0 5vw;
  }

  .breadcrumb__item {
    font-size: 0.7rem;
  }

  .breadcrumb__item a {
    padding: 0 0.2rem;
  }
}

/* iphone 6/7/8　縦 */
@media screen and (max-width: 375px) {
  .access__main {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0rem;
  }

  .tokyo {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .tokyo__iframe {
    grid-row: 2/3;
  }

  .okayama {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .okayama__iframe {
    grid-column: 2/3;
    grid-row: 4/5;
  }
}

/* iphone 5/SE 縦  */
@media screen and (max-width: 320px) {
  aside {
    height: 10vh;
  }

  .search {
  }

  .searchMaker__title {
    display: none;
  }

  .searchMaker__link p {
    font-size: 0.6rem;
  }

  .mileage,
  .years {
    font-size: 0.6rem;
    gap: 0.3rem;
  }

  .mileage input,
  .years input {
    transform: scale(1);
  }

  .company {
  }

  .company__main {
  }

  .company__slogan {
    font-size: 1.5rem;
  }

  .company__top {
    margin-top: 3%;
    font-size: 1.1rem;
  }

  .company__link a {
    margin-top: 3vh;
  }

  .access {
  }

  .access__main {
    display: flex;
    flex-direction: column;
  }

  .okayama__heading,
  .tokyo__heading {
    margin-top: 5vh;
  }

  .tokyo__img,
  .okayama__img {
    height: 15vh;
  }

  .tokyo__iframe iframe,
  .okayama__iframe iframe {
    height: 15vh;
  }

  .breadcrumb__item {
    font-size: 0.7rem;
  }

  .footer__sns a img {
    width: 20px;
    height: 20px;
  }

  .footer__inner {
    width: 96vw;
    padding: 0 2vw;
  }

  small {
    font-size: 0.1rem;
  }
}

/* Galaxy Fold */
@media screen and (max-width: 280px) {
  aside {
    height: 9vh;
  }

  .searchMaker__list {
    width: 86vw;
    margin: 0 2vw;
  }

  .searchMaker__link p {
    font-size: 0.5rem;
  }

  .breadcrumb__item {
    font-size: 0.7rem;
  }

  .breadcrumb__item--1 {
    display: none;
  }

  .breadcrumb__item--2 {
    text-align: center;
    display: flex;
  }

  .footer__sns {
    gap: 0.2rem;
  }

  .footer__sns a img {
    width: 18px;
    height: 18px;
  }
}

/* --------------------------- レスポンシブ -----------------------------*/
