@charset "UTF-8";

/*------ 全体 ------*/
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;
}

body {
  height: 100%;
  width: 100%;
  color: #e4e5df;
  background-color: #1a1a1a;
  vertical-align: top;
  font-family: "Roboto Slab", serif;
  font-family: "Noto Serif JP", serif;
}

.container {
  width: 80vw;
  margin: 0 10vw;
}

li {
  list-style: none;
  border-bottom: none;
}

li:visited {
  color: inherit;
}

a {
  text-decoration: none;
  color: #e4e5df;
}

/*------ 全体終わり ------*/

/*--------------------------- header -------------------------- */
.header {
  width: 80vw;
  height: 7vh;
  background-color: rgb(61, 61, 61);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  z-index: 1000;
  padding: 2vh 10vw;
}

.header__heading {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.header__logo {
  margin: auto 0;
}

.header__logo a {
  font-size: 2.5rem;
}

.gnav {
  display: inline-block;
  margin: auto 0;
}

.gnav__list {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  margin: auto 0;
}

.gnav__item {
  font-size: 1.2rem;
  display: inline-block;
}

.gnav__item a {
  padding: 0.2vh 1vw;
}

.gnav__item span {
  font-size: 1rem;
}

aside {
  display: none;
}
/*--------------------わり -------------------------- */
/* -------------------------- main領域 -------------------------- */
.search {
  width: 100vw;
  height: 89vh;
  margin-top: 11vh;
  position: relative;
  background: -moz-linear-grad(rgba(47, 2, 5, 0.8), rgba(26, 26, 26, 0.8)),
    url(../used_car/used_car_1.jpg);

  background: -webkit-linear-gradient(
      rgba(47, 2, 5, 0.8),
      rgba(26, 26, 26, 0.8)
    ),
    url(../img/used_car/used_car_1.jpg);

  background: -ms-linear-gradient(rgba(47, 2, 5, 0.8), rgba(26, 26, 26, 0.8)),
    url(../img/used_car/used_car_1.jpg);

  background: radial-gradient(rgba(47, 2, 5, 0.1), rgba(26, 26, 26, 1)),
    url(../img/used_car/used_car_1.jpg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.searchMain__wrapper {
  width: 100vw;
  position: relative;
  top: 5%;
  right: 0;
  display: flex;
  flex-direction: column;
}

.search__ttl {
  text-align: center;
  font-size: 2rem;
  margin: 1em 0;
}

.searchMain__list {
  background-color: rgba(26, 26, 26, 0.5);
  width: 70vw;
  margin: 0 10vw;
  padding: 5vh 5vw;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.searchMain__list a {
  border: solid thin #e4e5df;
}

.searchMain__list a:first-of-type {
  width: 100%;
  height: 100%;
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  justify-items: center;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .searchMain__list a:first-of-type {
    height: auto;
  }
}

.searchMain__list a:first-of-type span {
  margin: auto 0;
}

.searchMain__item {
  font-size: 1.3em;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.searchMain__item img {
  width: 100%;
  object-fit: cover;
  border-bottom: solid thin #e4e5df;
}

.searchMain__item span {
  margin: auto 0;
}

.searchMain__item #benz_2,
.searchMain__item #vw_2,
.searchMain__item #lr_2 {
  display: none;
}

.searchSub__wrapper {
  position: relative;
  top: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.searchSub__flex {
  display: flex;
  flex-direction: column;
}

.searchSub__ttl {
  text-align: center;
  font-size: 2rem;
  margin: 0.5em 0;
}

.price select {
  height: 4vh;
  width: 10vw;
}

.price {
  text-align: center;
}

.mileage,
.years {
  font-size: 1.2rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  gap: 1rem;
}

.mileage__radio input,
.years_radio input {
  transform: scale(1.5);
}

/* ------ cotainer領域(company) ------ */
.company {
  height: 100vh;
  position: relative;
  background-image: url(../img/company/company_1.jpg);
  background-size: 40% auto;
  background-position: right center;
  background-repeat: no-repeat;
}

.company__content {
  position: absolute;
  width: 80vw;
  top: 15vh;
}

.company__heading {
  font-size: 3rem;
}

.company__main {
  width: 80vw;
  position: absolute;
  margin: 3% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
}

.company__slogan {
  display: inline-block;
  font-size: 4rem;
}

.company__slogan span {
  font-size: 2.6rem;
}

.company__top {
  display: inline-block;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin: 3% 0;
}

.company__link a {
  display: inline-block;
  font-size: 1.3rem;
  padding: 0 1vw 0 0;
  margin-top: 3rem;
}

@media screen and (min-width: 1024px) {
  .company__link a:hover span {
    display: inline-block;
    font-size: 1.8rem;
    transition: 0.2s;
  }
}

/* ------ cotainer領域(company 終了) ------ */

/* ------ cotainer領域(access) ------ */
.access {
  height: 100vh;
  position: relative;
}

.access__heading {
  position: absolute;
  top: 15vh;
  font-size: 3rem;
}

.access__main {
  position: relative;
  top: 23vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 365px 365px;
  gap: 1rem;
  padding: 0 10vw;
}

.tokyo {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
}

.tokyo__heading {
  font-size: 2rem;
  border: solid thin #e4e5df;
  text-align: center;
  margin: 0 0 2% 0;
}

.tokyo__img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

.tokyo__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tokyo__iframe {
  position: relative;
  grid-column: 2/3;
  grid-row: 1/2;
}

.tokyo__iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.okayama {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
}

.okayama__heading {
  font-size: 2rem;
  border: solid thin #e4e5df;
  text-align: center;
  margin: 0 0 2% 0;
}

.okayama__img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

.okayama__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.okayama__iframe {
  position: relative;
  grid-column: 1/2;
  grid-row: 2/3;
}

.okayama__iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ------ cotainer領域(access 終了) ------ */

/* ------ cotainer領域(recruit_contact) ------ */
.recruitContact {
  height: 100vh;
  position: relative;
}

.recruitContact__heading {
  position: absolute;
  top: 15vh;
  font-size: 3rem;
}

.recruitContact__heading span {
  font-size: 2rem;
}

.recruitContact__img {
  position: relative;
  top: 35vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.recruitContact__img img {
  width: 30vw;
  height: 45vh;
  opacity: 1;
}

@media screen and (min-width: 1444px) {
  .recruitContact__img img {
    opacity: 0.6;
  }

  .recruitContact__img img:hover {
    width: 32vw;
    height: 47vh;
    transition: 0.2s;
    opacity: 1;
  }
}

.recruit,
.contact {
  text-align: right;
}

.recruit__ttl,
.contact__ttl {
  font-size: 1.5rem;
}

/* ------ cotainer領域(recruit_contact 終了) ------ */

/* -------------------------- cotainer領域終了 -------------------------- */
/* -------------------------- main領域 -------------------------- */

/* -------------------------- footer領域 -------------------------- */
footer {
  width: 100vw;
  height: 25vh;
  position: relative;
  background-color: rgb(61, 61, 61);
}

.footer__content {
  position: absolute;
  top: 50%;
  width: 80vw;
  padding: 0 10vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  justify-items: center;
}

.breadcrumb__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
}

.breadcrumb__item {
  font-size: 1.2rem;
  color: #e4e5df;
  border-left: solid thin #e4e5df;
}

.breadcrumb__item:first-of-type {
  border-left: none;
}

.breadcrumb__item a {
  padding: 1rem 1rem;
}

.breadcrumb__item span {
  font-size: 1rem;
}

.sns a:nth-child(3) img {
  background-color: #e4e5df;
  border-radius: 50%;
}

small {
  position: absolute;
  right: 0;
  bottom: 0;
}
/* -------------------------- footer領域終了 -------------------------- */

/* --------------------------- レスポンシブ -----------------------------*/
/* 画面縦縮小 */
@media screen and (max-height: 875px) {
  .header {
    height: 111px;
  }

  .search {
    height: 877px;
  }

  .company {
    height: 986px;
  }

  .access {
    height: 986px;
  }

  .recruitContact {
    height: 986px;
  }

  .recruitContact__img img {
    width: 529px;
    height: 386px;
    opacity: 1;
  }

  .recruitContact__img img:hover {
    width: 529px;
    height: 386px;
    transition: 0.2s;
    opacity: 1;
  }

  footer {
    height: 286px;
  }
}
/* タブレット縦 */
@media screen and (max-width: 1460px) {
  header {
    display: none;
  }

  aside {
    width: 100%;
    height: 12vh;
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #3d3d3d;
    z-index: 500;
  }

  .bottomNav__list {
    display: flex;
    text-align: center;
  }

  .bottomNav__list a {
    flex: 1;
    font-size: 1.2rem;
    padding: 1vh 0;
  }

  .bottomNav__item {
    display: flex;
    flex-direction: column;
  }

  .bottomNav__list a:nth-of-type(2) .bottomNav__item {
    border-left: solid thin #e4e5df;
    border-right: solid thin #e4e5df;
  }

  .bottomNav__item img {
    margin: 0 auto 0.5vh auto;
  }

  /* -------------------------- main領域 -------------------------- */
  .search {
    width: 100vw;
    height: 88vh;
    margin-top: 0;
  }

  .searchMain__wrapper {
    top: 3%;
    right: 0;
  }

  .searchMain__list {
    background-color: rgba(26, 26, 26, 0.5);
    width: 88vw;
    margin: 0 3vw;
    padding: 2vh 3vw;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }

  .searchMain__item img {
    width: 100%;
    height: 10vh;
    object-fit: cover;
    border-bottom: solid thin #e4e5df;
  }

  .searchMain__item span {
    font-size: 1.2rem;
  }

  .searchSub__wrapper {
    position: relative;
    top: 5%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }

  .searchSub__price {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .searchSub__mileage {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .searchSub__years {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .searchSub__flex {
    display: flex;
    flex-direction: column;
  }

  .searchSub__ttl {
    font-size: x-large;
  }

  .price select {
    width: 15vw;
    height: 4vh;
  }

  .company {
    height: 88vh;
    background-size: 500px 80%;
  }

  .company__heading {
    font-size: 3rem;
  }

  .company__content {
    position: absolute;
    width: 80vw;
    top: 8%;
  }

  .company__main {
    top: 15vh;
  }

  .company__main > p {
    margin: 0;
  }

  .company__slogan {
    display: inline-block;
    font-size: 2.5rem;
  }

  .company__slogan span {
    font-size: 2rem;
  }

  .company__link a {
    margin-top: 1vh;
    font-size: 1.2rem;
  }

  .access {
    height: 88vh;
  }

  .access__heading {
    top: 8%;
  }

  .access__main {
    top: 18%;
    grid-template-rows: 260px 260px;
  }

  .recruitContact {
    height: 88vh;
  }

  .recruitContact__heading {
    position: absolute;
    top: 8%;
    font-size: 3rem;
  }

  .recruitContact__img {
    position: relative;
    top: 30%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
  }

  .recruitContact__img img {
    width: 100%;
    height: 40vh;
    opacity: 1;
  }

  /* -------------------------- main領域 -------------------------- */

  footer {
    width: 100vw;
    height: 13vh;
    margin-bottom: 12vh;
    position: relative;
    background-color: rgb(61, 61, 61);
  }

  .footer__content {
    top: 30%;
  }
}

@media screen and (max-width: 768px) {
  aside {
    height: 10vh;
  }

  .search {
    height: 90vh;
  }

  .searchMain__item #benz_1,
  .searchMain__item #vw_1,
  .searchMain__item #lr_1 {
    display: none;
  }

  .searchMain__item #benz_2,
  .searchMain__item #vw_2,
  .searchMain__item #lr_2 {
    display: inline-block;
  }

  .searchSub__wrapper {
    position: relative;
    top: 5%;
    display: flex;
    flex-direction: column;
  }

  .mileage,
  .years {
    font-size: 1.2rem;
  }

  .company {
    height: 90vh;
  }

  .access {
    height: 90vh;
    background-size: 500px 80%;
  }

  .access__main {
    top: 25%;
    grid-template-rows: 260px 260px;
  }

  .tokyo__heading,
  .okayama__heading {
    font-size: 1.5rem;
  }

  .recruitContact__img {
    top: 40%;
  }

  .recruitContact__img img {
    height: 30vh;
  }

  footer {
    margin-bottom: 10vh;
  }

  .breadcrumb__item {
    font-size: 1rem;
  }

  .breadcrumb__item span {
    font-size: 0.8rem;
  }

  .sns a img {
    width: 21px;
    height: 21px;
  }
}
/* iphone 8/7/6s/6 横 */
@media screen and (max-width: 667px) {
  header {
    display: none;
  }

  aside {
    width: 100%;
    height: 14vh;
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #3d3d3d;
    z-index: 500;
  }

  .bottomNav__list {
    display: flex;
    text-align: center;
  }

  .bottomNav__list a {
    flex: 1;
    font-size: 0.8rem;
    padding: 1vh 0;
  }

  .bottomNav__item {
    display: flex;
    flex-direction: column;
  }

  .bottomNav__list a:nth-of-type(2) .bottomNav__item {
    border-left: solid thin #e4e5df;
    border-right: solid thin #e4e5df;
  }

  .bottomNav__item img {
    width: 25px;
    height: 25px;
    margin: 0 auto 0.5vh auto;
  }

  .search {
    height: 86vh;
  }

  .search__ttl {
    display: none;
  }

  .searchMain__list {
    width: 74vw;
    margin: 5vh 10vw 0 10vw;
    gap: 0.5rem;
  }

  .searchMain__item #lr_1 {
    display: none;
  }

  .searchMain__item #lr_2 {
    display: inline-block;
  }

  .searchMain__list a:first-of-type {
    font-size: 1rem;
  }

  .searchMain__item span {
    font-size: 0.5rem;
  }

  .searchSub__wrapper {
    position: relative;
    top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    gap: 0;
  }

  .searchSub__ttl {
    font-size: 1rem;
    margin-top: 0;
  }

  .price select {
    font-size: 0.5rem;
    width: 10vw;
    height: 4.5vh;
  }

  .mileage,
  .years {
    font-size: 0.8rem;
    gap: 0.3rem;
  }

  .mileage input,
  .years input {
    transform: scale(1.2);
  }

  .company {
    height: 86vh;
    background-size: 250px 80%;
  }

  .company__content {
    position: absolute;
    width: 80vw;
    top: 8%;
  }

  .company__heading {
    font-size: 1.5rem;
  }

  .company__main {
    top: 18vh;
  }

  .company__main > p {
    margin: 0;
  }

  .company__slogan {
    display: inline-block;
    font-size: 2rem;
  }

  .company__slogan span {
    font-size: 1.3rem;
  }

  .company__top {
    display: none;
  }

  .company__link a {
    margin-top: 10vh;
    font-size: 0.8rem;
  }

  .access {
    height: 86vh;
  }

  .access__heading {
    top: 8%;
    font-size: 1.5rem;
  }

  .access__main {
    top: 18%;
    grid-template-rows: 120px 120px;
    gap: 0.5rem;
  }

  .tokyo__heading,
  .okayama__heading {
    font-size: 0.8rem;
  }

  .recruitContact__heading {
    font-size: 1.5rem;
  }

  .recruit__ttl,
  .contact__ttl {
    font-size: 1rem;
  }

  .recruitContact__img img {
    height: 40vh;
  }

  footer {
    width: 100vw;
    height: 30vh;
    margin-bottom: 12vh;
    position: relative;
    background-color: rgb(61, 61, 61);
  }

  .breadcrumb__item {
    font-size: 0.8rem;
  }

  .breadcrumb__item span {
    font-size: 0.5rem;
  }

  .sns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.4rem;
  }

  .sns a:first-of-type {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .sns a:nth-of-type(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .sns a:nth-of-type(3) {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .sns a:nth-of-type(4) {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .sns a img {
    width: 25px;
    height: 25px;
  }

  small {
    font-size: 0.5rem;
    bottom: 5%;
  }
}
/* iphone 8/7/6s/6 縦 */
@media screen and (max-width: 375px) {
  aside {
    height: 9vh;
  }

  .search {
    height: 91vh;
  }

  .searchMain__wrapper {
    top: 8%;
    right: 0;
  }

  .search__ttl {
    display: inline;
    text-align: center;
    font-size: 1rem;
    margin: 0.3em 0;
  }

  .searchMain__list {
    width: 84vw;
    margin: 0 5vw;
    gap: 0.5rem;
  }

  .searchMain__item img {
    height: 9vh;
  }
  .searchMain__item #benz_1,
  .searchMain__item #vw_1 {
    display: none;
  }

  .searchMain__item #benz_2,
  .searchMain__item #vw_2 {
    display: inline-block;
  }

  .searchSub__wrapper {
    position: relative;
    top: 12%;
    display: flex;
    flex-direction: column;
  }

  .searchSub__flex {
    margin: 2vh 0;
  }

  .price select {
    font-size: 0.5rem;
    width: 20vw;
    height: 4vh;
  }

  .mileage,
  .years {
    column-gap: 4vw;
    row-gap: 1.8vh;
  }

  .company {
    height: 91vh;
  }

  .company__main {
    top: 13vh;
  }
  .company__top {
    display: inline-block;
    font-size: 1.2rem;
    line-height: 2.5rem;
    margin-top: 15%;
  }

  .company__link a {
    margin-top: 5vh;
    font-size: 0.8rem;
  }

  .access {
    height: 91vh;
  }

  .access__main {
    left: 0;
    top: 20vh;
    height: 70vh;
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0rem;
    padding: 0;
  }

  .tokyo {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .tokyo__iframe {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .okayama {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .okayama__iframe {
    grid-column: 2/3;
    grid-row: 4/5;
  }

  .recruitContact {
    height: 91vh;
  }

  .recruitContact__img {
    top: 15%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
  }

  .recruitContact__img img {
    height: 30vh;
  }

  .recruitContact__img img:hover {
    width: 100%;
    height: 30vh;
  }

  footer {
    height: 20vh;
    margin-bottom: 9vh;
  }

  .footer__content {
    width: 90vw;
    padding: 0 5vw;
  }

  .breadcrumb__list {
    margin: 15px 0;
  }

  .breadcrumb__item {
    font-size: 0.7rem;
  }

  .breadcrumb__item a {
    padding: 0 0.2rem;
  }
}
/* --------------------------- レスポンシブ -----------------------------*/
