/* 


/*------ 全体 ------*/
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;
}

body {
  width: 100%;
  color: #e4e5df;
  background-color: #1a1a1a;
  vertical-align: top;
}

.container {
  width: 80vw;
  margin: 0 10vw;
}

li {
  list-style: none;
  border-bottom: none;
}

li :visited {
  color: inherit;
}

a {
  text-decoration: none;
  color: #e4e5df;
}

/*------ 全体終わり ------*/

/*--------------------------- header -------------------------- */
header {
  width: 100vw;
}

header .header {
  width: 80vw;
  height: 13vh;
  background-color: #1a1a1a;
  /* opacity: 0.9; */
  opacity: 0.5;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  z-index: 1000;
  padding: 2vh 10vw;
}

header .header h1 {
  display: inline-block;
  font-size: 2.5rem;
  width: 23vw;
}

header .header h1 a p {
  font-size: 2.3rem;
  text-align: right;
}

header .header h1 a p span {
  font-size: 1.5rem;
}

header .header .gnav {
  display: inline-block;
  margin: auto 0;
}

header .header .gnav ul {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  margin: auto 0;
}

header .header .gnav ul li {
  font-size: 1.2rem;
  display: inline-block;
}

header .header .gnav ul li a {
  padding: 0.2rem 1rem;
}

header .header .gnav ul li span {
  font-size: 1rem;
}

header .header .gnav img {
  display: none;
}
/* ------ header領域終了 ------ */

/* ------ used_car_main始まり ----- */
.used_car {
  width: 100vw;
  height: 83vh;
  margin-top: 17vh;
  position: relative;
  /* overflow: hidden; */
  background: -moz-linear-gradient(rgba(47, 2, 5, 0.8), rgba(26, 26, 26, 0.8)),
    url(../img/used_car/used_car_1.jpg);

  background: -webkit-linear-gradient(
      rgba(47, 2, 5, 0.8),
      rgba(26, 26, 26, 0.8)
    ),
    url(../img/used_car/used_car_1.jpg);

  background: -ms-linear-gradient(rgba(47, 2, 5, 0.8), rgba(26, 26, 26, 0.8)),
    url(../img/used_car/used_car_1.jpg);

  background: radial-gradient(rgba(47, 2, 5, 0.1), rgba(26, 26, 26, 1)),
    url(../img/used_car/used_car_1.jpg);
  /* background-color: ivory; */
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.used_car .used_car_main {
  height: 83vh;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.used_car .used_car_main .used_car_h2 {
  writing-mode: vertical-rl;
  top: 50%;
  transform: translateY(-50%);
  /* margin-left: 2vw; */
}

.used_car .used_car_main .used_car_h2 h2 {
  transform: rotate(180deg);
}

.used_car .used_car_main .used_car_img {
  position: relative;
  top: 10%;
}

.used_car .used_car_main .used_car_img ul {
  display: grid;
  grid-template-columns: 30vw 20vw 30vw;
  grid-template-rows: 30vh 30vh;
  gap: 1rem;
}

.used_car .used_car_main .used_car_img ul #gray_benz {
  position: relative;
  grid-row: 1/3;
  grid-column: 1/2;
}

.used_car .used_car_main .used_car_img ul #orange_audi {
  position: relative;
  grid-row: 1/2;
  grid-column: 2/3;
}

.used_car .used_car_main .used_car_img ul #red_car {
  position: relative;
  grid-row: 2/3;
  grid-column: 2/3;
}

.used_car .used_car_main .used_car_img ul #black_benz {
  position: relative;
  grid-row: 1/3;
  grid-column: 3/4;
}

.used_car .used_car_main .used_car_img ul li img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* object-fit: contain; */
}
/* ------ home終了 ------ */

/* ------ home_footer領域 ------ */
.used_car_footer {
  width: 80vw;
  position: absolute;
  margin: 0 10vw;
  bottom: 6%;
  text-align: center;
  /* display: flex;
  justify-content: space-between;
  justify-items: center; */
}

.used_car_footer #scroll {
  font-size: 1.5rem;
}

/* .used_car_footer #slide_view {
  font-size: 1.5rem;
  display: inline-block;
} */
/* ------ home_footer終了 ------ */

/*--------------------------- header終わり -------------------------- */

/* -------------------------- cotainer領域 -------------------------- */
/* ------ cotainer領域(home) ------ */
.home {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1),
      rgba(26, 26, 26, 1)
    ),
    url(../img//main/main_1.jpg);
  /* background-color: khaki; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home .home_main {
  width: 80vw;
  margin: 0 10vw;
  position: relative;
  top: 25%;
  right: 0;
  display: flex;
  flex-direction: column;
}

.home .home_main span {
  font-size: 5rem;
  margin: 4rem 0;
}

.home .home_main .home_details {
  position: relative;
  font-size: 2rem;
  top: 80%;
  right: 0;
}

.home .home_main .home_details #details_top {
  text-align: left;
}

.home .home_main .home_details #details_bottom {
  text-indent: 2rem;
}
/* ------ cotainer領域終了(home) ------ */

/* ------ cotainer領域(company) ------ */
.company {
  height: 100vh;
  position: relative;
  background-image: url(../img/company/company_1.jpg);
  background-size: 500px 800px;
  background-position: right;
  background-repeat: no-repeat;
}

.company .company_main {
  position: absolute;
  width: 80vw;
  top: 20vh;
}

.company .company_main h2 {
  font-size: 3rem;
}

.company .company_main .company_details {
  width: 80vw;
  position: absolute;
  margin: 3% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
}

.company .company_main .company_details #corporate_slogan {
  display: inline-block;
  font-size: 4rem;
}

.company .company_main .company_details #corporate_slogan span {
  font-size: 2.6rem;
}

.company .company_main .company_details #corporate_top {
  display: inline-block;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin: 3% 0;
}

.company .company_main .company_details #corporate_link a {
  display: inline-block;
  font-size: 1.3rem;
  padding: 0 1vw 0 0;
  margin-top: 3rem;
}

.company .company_main .company_details #corporate_link a:hover span {
  display: inline-block;
  font-size: 1.8rem;
  transition: 0.8s;
}

/* ------ cotainer領域(company 終了) ------ */

/* ------ cotainer領域(access) ------ */
.access {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  position: relative;
}

.access .access_main {
  position: absolute;
  top: 20vh;
}

.access .access_main h2 {
  font-size: 3rem;
}

.access .access_main .tokyo {
  display: flex;
  flex-direction: row;
  padding: 0 15%;
}

.access .access_main .tokyo .tokyo_office {
  width: 48.5%;
  margin-right: 1.5%;
  display: flex;
  flex-direction: column;
}

.access .access_main .tokyo .tokyo_office h3 {
  font-size: 2rem;
  border: solid thin #e4e5df;
  text-align: center;
  margin: 0 0 2% 0;
}

.access .access_main .tokyo .tokyo_office img {
}

.access .access_main .tokyo iframe {
  width: 48.5%;
  height: auto;
  margin-left: 1.5%;
}

.access .access_main .okayama {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 2%;
  padding: 0 15%;
}

.access .access_main .okayama .okayama_office {
  width: 48.5%;
  margin-left: 1.5%;
  display: flex;
  flex-direction: column;
}

.access .access_main .okayama .okayama_office h3 {
  font-size: 2rem;
  border: solid thin #e4e5df;
  text-align: center;
  margin: 0 0 2% 0;
}

.access .access_main .okayama .okayama_office img {
}

.access .access_main .okayama iframe {
  width: 48.5%;
  height: auto;
  margin-right: 1.5%;
}
/* ------ cotainer領域(access 終了) ------ */

/* ------ cotainer領域(recruit_contact) ------ */
.recruit_contact {
  height: 100vh;
  position: relative;
}

.recruit_contact h2 {
  position: absolute;
  top: 20vh;
  font-size: 3rem;
}

.recruit_contact .recruit_contact_img {
  position: relative;
  top: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.recruit_contact .recruit_contact_img img:hover {
  opacity: 0.6;
  width: 520px;
  height: 400px;
  transition: 0.8s;
}

.recruit_contact .recruit_contact_img .recruit,
.recruit_contact .recruit_contact_img .contact {
  text-align: right;
}

.recruit_contact .recruit_contact_img .recruit p,
.recruit_contact .recruit_contact_img .contact p {
  font-size: 1.5rem;
}

/* ------ cotainer領域(recruit_contact 終了) ------ */

/* -------------------------- cotainer領域終了 -------------------------- */

/* -------------------------- footer領域 -------------------------- */
footer {
  width: 100vw;
  height: 40vh;
  position: relative;
}

footer .footer_wrapper {
  width: 80vw;
  padding: 0 10vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  justify-items: center;
}

footer .footer_wrapper .footer_gnav {
}

footer .footer_wrapper .footer_gnav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
}

footer .footer_wrapper .footer_gnav ul li {
  font-size: 1.2rem;
  color: #e4e5df;
  border-left: solid thin #e4e5df;
}

footer .footer_wrapper .footer_gnav ul li a {
  padding: 1rem 1rem;
}

footer .footer_wrapper .footer_gnav ul li span {
  font-size: 1rem;
}

footer .footer_wrapper .footer_gnav ul #border_del {
  border-left: none;
}

/* footer .footer_wrapper .sns {
} */

footer .footer_wrapper .sns a:nth-child(3) img {
  background-color: #e4e5df;
  border-radius: 50%;
}

footer small {
  position: absolute;
  right: 0;
  bottom: 0;
}
/* -------------------------- footer領域終了 -------------------------- */
