/*------ 全体 ------*/
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;
}

body {
  width: 100%;
  color: #e4e5df;
  background-color: #1a1a1a;
  vertical-align: top;
}

.container {
  width: 80vw;
  margin: 0 10vw;
}

li {
  list-style: none;
  border-bottom: none;
}

li :visited {
  color: inherit;
}

a {
  text-decoration: none;
  color: #e4e5df;
}

/*------ 全体終わり ------*/

/*--------------------------- header -------------------------- */
header {
  width: 100vw;
}

header .header {
  width: 80vw;
  height: 10vh;
  background-color: rgb(61, 61, 61);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  z-index: 1000;
  padding: 2vh 10vw;
}

header .header h1 {
  display: inline-block;
  font-size: 2.5rem;
  width: 23vw;
}

header .header h1 a p {
  font-size: 2.3rem;
  text-align: right;
}

header .header h1 a p span {
  font-size: 1.5rem;
}

header .header .gnav {
  display: inline-block;
  margin: auto 0;
}

header .header .gnav ul {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  margin: auto 0;
}

header .header .gnav ul li {
  font-size: 1.2rem;
  display: inline-block;
}

header .header .gnav ul li a {
  padding: 0.2rem 1rem;
}

header .header .gnav ul li span {
  font-size: 1rem;
}

header .header .gnav img {
  display: none;
}
/*--------------------------- header終わり -------------------------- */
/* -------------------------- main領域 -------------------------- */
.search {
  width: 100vw;
  height: 86vh;
  margin-top: 14vh;
  position: relative;
  /* overflow: hidden; */
  background: -moz-linear-gradient(rgba(47, 2, 5, 0.8), rgba(26, 26, 26, 0.8)),
    url(../img/used_car/used_car_1.jpg);

  background: -webkit-linear-gradient(
      rgba(47, 2, 5, 0.8),
      rgba(26, 26, 26, 0.8)
    ),
    url(../img/used_car/used_car_1.jpg);

  background: -ms-linear-gradient(rgba(47, 2, 5, 0.8), rgba(26, 26, 26, 0.8)),
    url(../img/used_car/used_car_1.jpg);

  background: radial-gradient(rgba(47, 2, 5, 0.1), rgba(26, 26, 26, 1)),
    url(../img/used_car/used_car_1.jpg);
  /* background-color: ivory; */
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.search .search_details {
  width: 100vw;
  position: relative;
  top: 20%;
  right: 0;
  display: flex;
  flex-direction: column;
}

.search .search_details h2 {
  font-size: 3rem;
  margin: 4rem 0;
}

.search .search_details ul {
  background-color: rgba(26, 26, 26, 0.5);
  width: 70vw;
  margin: 0 10vw;
  padding: 3rem 5rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.search .search_details ul a {
  border: solid thin #e4e5df;
}

.search .search_details ul a:first-of-type {
  width: 100%;
  height: 100%;
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.search .search_details ul a span {
  margin: auto 0;
}

.search .search_details ul a li {
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.search .search_details ul a li img {
  width: 100%;
  object-fit: cover;
  border-bottom: solid thin #e4e5df;
}

/* ------ cotainer領域(company) ------ */
.company {
  height: 100vh;
  position: relative;
  background-image: url(../img/company/company_1.jpg);
  background-size: 500px 800px;
  background-position: right;
  background-repeat: no-repeat;
}

.company .company_main {
  position: absolute;
  width: 80vw;
  top: 20vh;
}

.company .company_main h2 {
  font-size: 3rem;
}

.company .company_main .company_details {
  width: 80vw;
  position: absolute;
  margin: 3% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
}

.company .company_main .company_details #corporate_slogan {
  display: inline-block;
  font-size: 4rem;
}

.company .company_main .company_details #corporate_slogan span {
  font-size: 2.6rem;
}

.company .company_main .company_details #corporate_top {
  display: inline-block;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin: 3% 0;
}

.company .company_main .company_details #corporate_link a {
  display: inline-block;
  font-size: 1.3rem;
  padding: 0 1vw 0 0;
  margin-top: 3rem;
}

.company .company_main .company_details #corporate_link a:hover span {
  display: inline-block;
  font-size: 1.8rem;
  transition: 0.8s;
}

/* ------ cotainer領域(company 終了) ------ */

/* ------ cotainer領域(access) ------ */
.access {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  position: relative;
}

.access .access_main {
  position: absolute;
  top: 20vh;
}

.access .access_main h2 {
  font-size: 3rem;
}

.access .access_main .tokyo {
  display: flex;
  flex-direction: row;
  padding: 0 15%;
}

.access .access_main .tokyo .tokyo_office {
  width: 48.5%;
  margin-right: 1.5%;
  display: flex;
  flex-direction: column;
}

.access .access_main .tokyo .tokyo_office h3 {
  font-size: 2rem;
  border: solid thin #e4e5df;
  text-align: center;
  margin: 0 0 2% 0;
}

.access .access_main .tokyo .tokyo_office img {
}

.access .access_main .tokyo iframe {
  width: 48.5%;
  height: auto;
  margin-left: 1.5%;
}

.access .access_main .okayama {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 2%;
  padding: 0 15%;
}

.access .access_main .okayama .okayama_office {
  width: 48.5%;
  margin-left: 1.5%;
  display: flex;
  flex-direction: column;
}

.access .access_main .okayama .okayama_office h3 {
  font-size: 2rem;
  border: solid thin #e4e5df;
  text-align: center;
  margin: 0 0 2% 0;
}

.access .access_main .okayama .okayama_office img {
}

.access .access_main .okayama iframe {
  width: 48.5%;
  height: auto;
  margin-right: 1.5%;
}
/* ------ cotainer領域(access 終了) ------ */

/* ------ cotainer領域(recruit_contact) ------ */
.recruit_contact {
  height: 100vh;
  position: relative;
}

.recruit_contact h2 {
  position: absolute;
  top: 20vh;
  font-size: 3rem;
}

.recruit_contact .recruit_contact_img {
  position: relative;
  top: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.recruit_contact .recruit_contact_img img {
  opacity: 0.6;
}

.recruit_contact .recruit_contact_img img:hover {
  width: 520px;
  height: 400px;
  transition: 0.8s;
  opacity: 1;
}

.recruit_contact .recruit_contact_img .recruit,
.recruit_contact .recruit_contact_img .contact {
  text-align: right;
}

.recruit_contact .recruit_contact_img .recruit p,
.recruit_contact .recruit_contact_img .contact p {
  font-size: 1.5rem;
}

/* ------ cotainer領域(recruit_contact 終了) ------ */

/* -------------------------- cotainer領域終了 -------------------------- */
/* -------------------------- main領域 -------------------------- */

/* -------------------------- footer領域 -------------------------- */
footer {
  width: 100vw;
  height: 25vh;
  position: relative;
  background-color: rgb(61, 61, 61);
}

footer .footer_wrapper {
  position: absolute;
  top: 50%;
  width: 80vw;
  padding: 0 10vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  justify-items: center;
}

footer .footer_wrapper .footer_gnav {
}

footer .footer_wrapper .footer_gnav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
}

footer .footer_wrapper .footer_gnav ul li {
  font-size: 1.2rem;
  color: #e4e5df;
  border-left: solid thin #e4e5df;
}

footer .footer_wrapper .footer_gnav ul li:first-of-type {
  border-left: none;
}

footer .footer_wrapper .footer_gnav ul li a {
  padding: 1rem 1rem;
}

footer .footer_wrapper .footer_gnav ul li span {
  font-size: 1rem;
}

footer .footer_wrapper .footer_gnav ul #border_del {
  border-left: none;
}

footer .footer_wrapper .sns a:nth-child(3) img {
  background-color: #e4e5df;
  border-radius: 50%;
}

footer small {
  position: absolute;
  right: 0;
  bottom: 0;
}
/* -------------------------- footer領域終了 -------------------------- */
