@import url(./reset.css);

/*------ 全体 ------*/
html {
  font-size: 10px;
}

body {
  color: #e4e5df;
  background-color: #1a1a1a;
}

li {
  list-style: none;
  border-bottom: none;
}

li :visited {
  color: inherit;
}

a {
  text-decoration: none;
  color: #e4e5df;
}

/*------ 全体終わり ------*/

/*--------------------------- header -------------------------- */
header {
  position: relative;
  height: 100vh;
  background-image: url(../img/main_1.jpg);
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1),
      rgba(26, 26, 26, 1)
    ),
    url(../img/main_1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header .header_inner {
  width: calc(100vw - 20vw);
  margin: 0 10vw;
  padding: 3vw 0 0 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  z-index: 1000;
}

header .header_inner h1 {
  display: inline-block;
  font-size: 3rem;
  margin: 0;
}

header .header_inner .gnav {
  display: inline-block;
}

header .header_inner .gnav ul {
  display: inline-block;
}

header .header_inner .gnav ul li {
  font-size: 1.4rem;
  display: inline-block;
  text-align: center;
  padding: 0.2rem 1rem;
}

header .header_inner .gnav ul li span {
  font-size: 1rem;
}

header img {
  display: inline-block;
}

/* ------ home始まり ----- */
header .home {
  position: absolute;
  width: calc(100vw - 20vw);
  text-align: right;
  top: 20%;
  margin: 0 10vw;
}

header .home .home_main {
  display: inline-block;
}

header .home .home_main h2 {
  font-size: 5rem;
}

header .home .home_main .home_details {
  font-size: 2rem;
  padding-left: 2rem;
}

header .home .home_main .home_details #details_top {
  text-align: left;
}

header .home .home_main .home_details #details_bottom {
  text-align: right;
}
/* ------ home終了 ------ */

/* ------ home_footer領域 ------ */
header .home_footer {
  width: calc(100vw - 20vw);
  margin: 0 10vw;
  position: absolute;
  bottom: 8%;
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

header .home_footer p {
  font-size: 1.5rem;
  padding: 0;
  display: inline-block;
}

header .home_footer span {
  font-size: 3rem;
}
/* ------ home_footer終了 ------ */
/*--------------------------- header終わり -------------------------- */

/* -------------------------- cotainer領域 -------------------------- */
/* ------ cotainer領域(used_car) ------ */
.container .used_car_main {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.container .used_car_main .used_car_main_h2 {
  writing-mode: vertical-rl;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  margin: 0 5vw;
}

.container .used_car_main .used_car_main_h2 h2 {
  transform: rotate(180deg);
}

.container .used_car_main ul {
  height: 100vh;
  left: 20vw;
  position: absolute;
  display: flex;
  justify-content: space-around;
  justify-items: center;
}

.container .used_car_main ul li {
  margin: auto 0;
  margin-right: 50px;
}

.container .used_car_main ul li img {
  height: 70vh;
  width: auto;
}

.container .used_car_main .background_img {
  width: 30vw;
  height: 100vh;
  /* background-image: url(../img/used_car_main_1.jpg); */
  background: -moz-linear-gradient(rgba(47, 2, 5, 0.8), rgba(26, 26, 26, 0.8)),
    url(../img/used_car_main_1.jpg);

  background: -webkit-linear-gradient(
      rgba(47, 2, 5, 0.8),
      rgba(26, 26, 26, 0.8)
    ),
    url(../img/used_car_main_1.jpg);

  background: -ms-linear-gradient(rgba(47, 2, 5, 0.8), rgba(26, 26, 26, 0.8)),
    url(../img/used_car_main_1.jpg);

  background: radial-gradient(rgba(47, 2, 5, 0.1), rgba(26, 26, 26, 1)),
    url(../img/used_car_main_1.jpg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}
/* ------ cotainer領域(used_car 終了) ------ */

/* ------ cotainer領域(company) ------ */
.container .company {
  width: calc(100vw - 20vw);
  height: 100vh;
  margin: 0 10vw;
  position: relative;
}

.container .company .company_main {
  position: absolute;
  top: 20vh;
  z-index: 10;
}

.container .company .company_main h2 {
  font-size: 3rem;
}

.container .company .company_main .company_details {
  width: calc(100vw - 20vw);
  position: absolute;
}

.container .company .company_main .company_details h3 {
  font-size: 5rem;
}

.container .company .company_main .company_details h3 span {
  font-size: 3rem;
}

.container .company .company_main .company_details p {
  font-size: 2rem;
}

.container .company .company_main .company_details .company_link {
  font-size: 1.3rem;
}

.container .company .company_main .company_details .company_link a:hover span {
  font-size: 2.3rem;
  transition: 0.8s;
}

.container .company .company_img {
  width: calc(100vw - 20vw);
  height: 100vh;
}

.container .company .company_img p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background: radial-gradient(rgba(47, 2, 5, 0.1), rgba(26, 26, 26, 1));
}

.container .company .company_img p img {
  text-align: center;
}

/* ------ cotainer領域(company 終了) ------ */

/* ------ cotainer領域(access) ------ */
.container .access {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  position: relative;
}

.container .access .access_main {
  width: 100vw;
  position: absolute;
  top: 18%;
}

.container .access .access_main .tokyo {
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 0 18% 0 18%;
}

.container .access .access_main .tokyo .tokyo_office {
  width: 47%;
  margin-right: 3%;
  display: flex;
  flex-direction: column;
}

.container .access .access_main .tokyo .tokyo_office h2 {
  border: solid thin #e4e5df;
  text-align: center;
  margin: 0 0 2% 0;
}

.container .access .access_main .tokyo .tokyo_office img {
}

.container .access .access_main .tokyo iframe {
  width: 50%;
  height: auto;
}

.container .access .access_main .okayama {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 2%;
  padding: 0 18% 0 18%;
}

.container .access .access_main .okayama .okayama_office {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container .access .access_main .okayama .okayama_office h2 {
  border: solid thin #e4e5df;
  text-align: center;
  margin: 0 0 1% 0;
}

.container .access .access_main .okayama .okayama_office img {
}

.container .access .access_main .okayama iframe {
  width: 47%;
  margin-right: 3%;
  height: auto;
}
/* ------ cotainer領域(access 終了) ------ */

/* ------ cotainer領域(recruit_contact) ------ */
.container .recruit_contact {
  width: calc(100vw - 20vw);
  height: 100vh;
  margin: 0 10vw;
  position: relative;
}

.container .recruit_contact h2 {
  position: absolute;
  top: 20vh;
  font-size: 3rem;
}

.container .recruit_contact .recruit_contact_img {
  width: 100%;
  position: absolute;
  top: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container .recruit_contact .recruit_contact_img img:hover {
  opacity: 0.6;
  width: 520px;
  height: 400px;
  transition: 0.8s;
}

.container .recruit_contact .recruit_contact_img .recruit,
.container .recruit_contact .recruit_contact_img .contact {
  text-align: right;
}

.container .recruit_contact .recruit_contact_img .recruit p,
.container .recruit_contact .recruit_contact_img .contact p {
  font-size: 1.5rem;
  margin-bottom: 0;
}

/* ------ cotainer領域(recruit_contact 終了) ------ */

/* -------------------------- cotainer領域終了 -------------------------- */

/* -------------------------- footer領域 -------------------------- */
.wrapper footer {
  width: calc(100vw - 20vw);
  height: 40vh;
  position: relative;
  margin: 0 10vw;
}

.wrapper footer .footer_gnav {
  position: absolute;
  top: 10%;
  right: 0;
  text-align: right;
}

.wrapper footer .footer_gnav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
}

.wrapper footer .footer_gnav ul li {
  font-size: 1.5rem;
  color: #e4e5df;
  border-left: solid thin #e4e5df;
  padding: 1rem 1.5rem;
}

.wrapper footer .footer_gnav ul li span {
  font-size: 1rem;
}

.wrapper footer .footer_gnav ul #border_del {
  border-left: none;
}

.wrapper footer .sns {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
}

.wrapper footer .sns a:nth-child(3) img {
  background-color: #e4e5df;
  border-radius: 50%;
}

.wrapper footer small {
  position: absolute;
  right: 0;
  bottom: 0;
}
/* -------------------------- footer領域終了 -------------------------- */
